---
layout: page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archives</title>
</head>
<body>
    <h3>Archives</h3>
    

<div id="archives">
    {% for category in site.categories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>
    
        <h4 class="category-head">category: {{ category_name }}</h4>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <article class="archive-item">
          <p>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}"> {{post.title}}</a></p>
        </article>
        {% endfor %}
      </div>
    {% endfor %}
    </div>
</body>
</html>