.site-title{
display: block;
margin-left: auto;
margin-right: auto;
}

body{
    background-color: #e0f9dc;
}

#showcase {
    background-image: url("../img/pexels-jeremy-bishop-2422916-01.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    margin-top: 50px;
  }

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 1000;
  }
  
 
  
  
    .nav {
      height: 50px;
      width: 100%;
      opacity: 75%;
      position: relative;
    }
  
    
      
    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
      width: 100%;
      background-color: #e0f9dc;
    }
    
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    
    
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 20px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav{
      background-color: rgba(0, 0, 0, 0.3);
  }
  #disqus_thread  {
    color: black;
    background-color: #e0f9dc;
  }
  #disqus_thread a {
    color: red;
  }

    .latest-list{
      padding: 0;
      margin: 0;
      line-height: 0.4em;
    }

    ul{
      list-style: none;
    }

    .footer-links{
      display: flex;
      padding: 10px 20px;
      text-align: center;
      align-self: center;

    }

    .search-box{
      padding-right: 20px;
    
    }

    .contact-info{
      display: flex;
  
    }

    .contact-addresses{
      padding-left: 50px;
    }


    
    