.site-title{
display: block;
margin-left: auto;
margin-right: auto;
}

body{
    background-color: #e0f9dc;
}

#showcase {
    background-image: url("../img/pexels-jeremy-bishop-2422916-01.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    margin-top: 50px;
  }

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 1000;
  }
  
 h1, h2, a{
   color: #7a7a7a;
 }
  
  
    .nav {
      height: 50px;
      width: 100%;
      opacity: 75%;
      position: relative;
    }
  
    
      
    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
      width: 100%;
      background: rgb(184,242,174);
      background: linear-gradient(180deg, rgba(184,242,174,1) 0%, rgba(224,249,220,1) 100%);    }
    
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    
    
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 20px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav{
      background-color: rgba(0, 0, 0, 0.3);
  }
  #disqus_thread  {
    color: black;
    background-color: #e0f9dc;
  }
  #disqus_thread a {
    color: red;
  }

    .latest-list{
      padding: 0;
      margin: 0;
      line-height: 0.4em;
    }

    ul{
      list-style: none;
    }

   
    .search-box{
      padding-left: 20px;
    
    }


    .grid-container {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px 5px;
      background: rgb(184,242,174);
      background: linear-gradient(0deg, rgba(184,242,174,1) 0%, rgba(224,249,220,1) 100%);
grid-template-areas:
        "search signUp ";
    }
    
    .signUp { grid-area: signUp; }
    
    .search { grid-area: search; }
    
    #btn, submit{
      background-color: #546354;
      font-size: 1rem;
      border-radius: 7px;
    }

    @media only screen and (max-width: 600px) {
      .grid-container{
        display: grid;
        grid-template-columns: 1fr;
      }

      