---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
<article id="post-page" >
    {% include navigation.html %}
    <h2>{{ page.title }}</h2>
    <p>Reading Time: {% include reading_time.html %}</p>


    <time>{{ page.date | date_to_string }}</time>
    <div class="content" >
        <br>
           {{ content }}
    </div>
    <hr class="footer-line">
</article>
<!--COMMENT SECTION-->
<div class="comments">{% include talkyard-comments.html %}
</div>
<!--END OF COMMENTS SECTION-->
</body>
</html>