---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
<article id="post-page" >
    {% include navigation.html %}
    <h2>{{ page.title }}</h2>

    <div class="postInfo">
        <ul>
            <li><i class="far fa-calendar-alt postDate"></i> {{ page.date | date_to_string }}</li>
            <li><i class="fas fa-tags post-categories"></i>
                {% if post %}
                  {% assign categories = post.categories %}
                {% else %}
                  {% assign categories = page.categories %}
                {% endif %}
                {% for category in categories %}
                <a class="callToAction"href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                {% unless forloop.last %}&nbsp;{% endunless %}
                {% endfor %}
              </li>


            <li><i class="far fa-clock readT"></i> Reading Time: {% include reading_time.html %}</li>
        </ul>
    </div>
<hr>

    <div class="content" >
        <br>
           {{ content }}
    </div>
    <hr class="footer-line">
</article>
<!--COMMENT SECTION-->
<div class="comments">{% include talkyard-comments.html %}
</div>
<!--END OF COMMENTS SECTION-->
</body>
</html>